# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 Thanabodee Charoenpiriyakij

# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule LINE.Bot.MessagingApiBlob do
  @moduledoc """
  API calls for all endpoints tagged `MessagingApiBlob`.
  """

  alias LINE.Bot.Deserializer

  @doc """
  Download image, video, and audio data sent from users.

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `message_id` (`t:String.t/0`): Message ID of video or audio
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def get_message_content(client, message_id, client_opts \\ []) do
    request_opts = [
      method: :get,
      url: "/v2/bot/message/:message_id/content",
      path_params: [message_id: message_id]
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Get a preview image of the image or video

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `message_id` (`t:String.t/0`): Message ID of image or video
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def get_message_content_preview(client, message_id, client_opts \\ []) do
    request_opts = [
      method: :get,
      url: "/v2/bot/message/:message_id/content/preview",
      path_params: [message_id: message_id]
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Verify the preparation status of a video or audio for getting

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `message_id` (`t:String.t/0`): Message ID of video or audio
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, LINE.Bot.Model.GetMessageContentTranscodingResponse.t}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def get_message_content_transcoding_by_message_id(client, message_id, client_opts \\ []) do
    request_opts = [
      method: :get,
      url: "/v2/bot/message/:message_id/content/transcoding",
      path_params: [message_id: message_id]
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, LINE.Bot.MessagingApi.Model.GetMessageContentTranscodingResponse}
    ])
  end

  @doc """
  Download rich menu image.

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `rich_menu_id` (`t:String.t/0`): ID of the rich menu with the image to be downloaded
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def get_rich_menu_image(client, rich_menu_id, client_opts \\ []) do
    request_opts = [
      method: :get,
      url: "/v2/bot/richmenu/:rich_menu_id/content",
      path_params: [rich_menu_id: rich_menu_id]
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Upload rich menu image

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `rich_menu_id` (`t:String.t/0`): The ID of the rich menu to attach the image to
  - `optional_args` (keyword): Optional parameters
    - `:body` (`t:String.t/0`): 
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def set_rich_menu_image(client, rich_menu_id, optional_args \\ [], client_opts \\ []) do
    body = Keyword.get(optional_args, :body)

    request_opts = [
      method: :post,
      url: "/v2/bot/richmenu/:rich_menu_id/content",
      path_params: [rich_menu_id: rich_menu_id],
      json: body
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, false}
    ])
  end
end
