# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule LINEBotSDK.Liff do
  @moduledoc """
  API calls for all endpoints tagged `Liff`.
  """

  @doc """
  Create LIFF app
  Adding the LIFF app to a channel

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `add_liff_app_request` (AddLiffAppRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def add_liff_app(client, add_liff_app_request, opts \\ []) do
    Req.request(client,
      method: :post,
      url: "/liff/v1/apps",
      json: add_liff_app_request
    )
  end

  @doc """
  Delete LIFF app from a channel
  Deletes a LIFF app from a channel. 

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `liff_id` (String.t): ID of the LIFF app to be updated
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def delete_liff_app(client, liff_id, opts \\ []) do
    Req.request(client,
      method: :delete,
      url: "/liff/v1/apps/:liff_id",
      path_params: [liff_id: liff_id]
    )
  end

  @doc """
  Get all LIFF apps
  Gets information on all the LIFF apps added to the channel.

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def get_all_liff_apps(client, opts \\ []) do
    Req.request(client,
      method: :get,
      url: "/liff/v1/apps"
    )
  end

  @doc """
  Update LIFF app from a channel
  Update LIFF app settings

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `liff_id` (String.t): ID of the LIFF app to be updated
  - `update_liff_app_request` (UpdateLiffAppRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def update_liff_app(client, liff_id, update_liff_app_request, opts \\ []) do
    Req.request(client,
      method: :put,
      url: "/liff/v1/apps/:liff_id",
      path_params: [liff_id: liff_id],
      json: update_liff_app_request
    )
  end
end
