# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 Thanabodee Charoenpiriyakij

# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule LINE.Bot.Liff do
  @moduledoc """
  API calls for all endpoints tagged `Liff`.
  """

  alias LINE.Bot.Deserializer

  @doc """
  Create LIFF app
  Adding the LIFF app to a channel

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `add_liff_app_request` (`t:AddLiffAppRequest/0`): 
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, LINE.Bot.Model.AddLiffAppResponse.t}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def add_liff_app(client, add_liff_app_request, client_opts \\ []) do
    request_opts = [
      method: :post,
      url: "/liff/v1/apps",
      json: add_liff_app_request
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, LINE.Bot.Liff.Model.AddLiffAppResponse},
      {400, false},
      {401, false}
    ])
  end

  @doc """
  Delete LIFF app from a channel
  Deletes a LIFF app from a channel. 

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `liff_id` (`t:String.t/0`): ID of the LIFF app to be updated
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def delete_liff_app(client, liff_id, client_opts \\ []) do
    request_opts = [
      method: :delete,
      url: "/liff/v1/apps/:liff_id",
      path_params: [liff_id: liff_id]
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, false},
      {401, false},
      {404, false}
    ])
  end

  @doc """
  Get all LIFF apps
  Gets information on all the LIFF apps added to the channel.

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, LINE.Bot.Model.GetAllLiffAppsResponse.t}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def get_all_liff_apps(client, client_opts \\ []) do
    request_opts = [
      method: :get,
      url: "/liff/v1/apps"
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, LINE.Bot.Liff.Model.GetAllLiffAppsResponse},
      {401, false},
      {404, false}
    ])
  end

  @doc """
  Update LIFF app from a channel
  Update LIFF app settings

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `liff_id` (`t:String.t/0`): ID of the LIFF app to be updated
  - `update_liff_app_request` (`t:UpdateLiffAppRequest/0`): 
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def update_liff_app(client, liff_id, update_liff_app_request, client_opts \\ []) do
    request_opts = [
      method: :put,
      url: "/liff/v1/apps/:liff_id",
      path_params: [liff_id: liff_id],
      json: update_liff_app_request
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, false},
      {400, false},
      {401, false},
      {404, false}
    ])
  end
end
