# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule ChannelAccessTokenAPI.Api.ChannelAccessToken do
  @moduledoc """
  API calls for all endpoints tagged `ChannelAccessToken`.
  """

  @doc """
  Gets all valid channel access token key IDs.

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `client_assertion_type` (String.t): `urn:ietf:params:oauth:client-assertion-type:jwt-bearer`
  - `client_assertion` (String.t): A JSON Web Token (JWT) (opens new window)the client needs to create and sign with the private key.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def gets_all_valid_channel_access_token_key_ids(client, client_assertion_type, client_assertion, opts \\ []) do
    Req.request(client,
      method: :get,
      url: "/oauth2/v2.1/tokens/kid",
      params: Enum.filter([:client_assertion_type: client_assertion_type, :client_assertion: client_assertion], fn {_k, v} -> v != nil end)
    )
  end

  @doc """
  Issue short-lived channel access token

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `grant_type` (String.t): `client_credentials`
  - `client_id` (String.t): Channel ID.
  - `client_secret` (String.t): Channel secret.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def issue_channel_token(client, grant_type, client_id, client_secret, opts \\ []) do
    Req.request(client,
      method: :post,
      url: "/v2/oauth/accessToken"
    )
  end

  @doc """
  Issues a channel access token that allows you to specify a desired expiration date. This method lets you use JWT assertion for authentication.

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `grant_type` (String.t): client_credentials
  - `client_assertion_type` (String.t): urn:ietf:params:oauth:client-assertion-type:jwt-bearer
  - `client_assertion` (String.t): A JSON Web Token the client needs to create and sign with the private key of the Assertion Signing Key.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def issue_channel_token_by_jwt(client, grant_type, client_assertion_type, client_assertion, opts \\ []) do
    Req.request(client,
      method: :post,
      url: "/oauth2/v2.1/token"
    )
  end

  @doc """
  Issues a new stateless channel access token, which doesn't have max active token limit unlike the other token types. The newly issued token is only valid for 15 minutes but can not be revoked until it naturally expires. 

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `opts` (keyword): Optional parameters
    - `:grant_type` (String.t): `client_credentials`
    - `:client_assertion_type` (String.t): URL-encoded value of `urn:ietf:params:oauth:client-assertion-type:jwt-bearer`
    - `:client_assertion` (String.t): A JSON Web Token the client needs to create and sign with the private key of the Assertion Signing Key.
    - `:client_id` (String.t): Channel ID.
    - `:client_secret` (String.t): Channel secret.

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def issue_stateless_channel_token(client, opts \\ []) do
    Req.request(client,
      method: :post,
      url: "/oauth2/v3/token"
    )
  end

  @doc """
  Revoke short-lived or long-lived channel access token

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `access_token` (String.t): Channel access token
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def revoke_channel_token(client, access_token, opts \\ []) do
    Req.request(client,
      method: :post,
      url: "/v2/oauth/revoke"
    )
  end

  @doc """
  Revoke channel access token v2.1

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `client_id` (String.t): Channel ID
  - `client_secret` (String.t): Channel Secret
  - `access_token` (String.t): Channel access token
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def revoke_channel_token_by_jwt(client, client_id, client_secret, access_token, opts \\ []) do
    Req.request(client,
      method: :post,
      url: "/oauth2/v2.1/revoke"
    )
  end

  @doc """
  Verify the validity of short-lived and long-lived channel access tokens

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `access_token` (String.t): A short-lived or long-lived channel access token.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def verify_channel_token(client, access_token, opts \\ []) do
    Req.request(client,
      method: :post,
      url: "/v2/oauth/verify"
    )
  end

  @doc """
  You can verify whether a Channel access token with a user-specified expiration (Channel Access Token v2.1) is valid.

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `access_token` (String.t): Channel access token with a user-specified expiration (Channel Access Token v2.1).
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def verify_channel_token_by_jwt(client, access_token, opts \\ []) do
    Req.request(client,
      method: :get,
      url: "/oauth2/v2.1/verify",
      params: Enum.filter([:access_token: access_token], fn {_k, v} -> v != nil end)
    )
  end
end
