# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule LINEBotSDK.Insight do
  @moduledoc """
  API calls for all endpoints tagged `Insight`.
  """

  @doc """
  Retrieves the demographic attributes for a LINE Official Account's friends.You can only retrieve information about friends for LINE Official Accounts created by users in Japan (JP), Thailand (TH), Taiwan (TW) and Indonesia (ID). 

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def get_friends_demographics(client, opts \\ []) do
    request_opts = [
      method: :get,
      url: "/v2/bot/insight/demographic"
    ]

    Req.request(client, Keyword.merge(request_opts, opts))
  end

  @doc """
  Get user interaction statistics
  Returns statistics about how users interact with narrowcast messages or broadcast messages sent from your LINE Official Account. 

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `request_id` (String.t): Request ID of a narrowcast message or broadcast message. Each Messaging API request has a request ID. 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def get_message_event(client, request_id, opts \\ []) do
    request_opts = [
      method: :get,
      url: "/v2/bot/insight/message/event",
      params: Enum.reject([{"requestId", request_id}], fn {_, v} -> is_nil(v) end)
    ]

    Req.request(client, Keyword.merge(request_opts, opts))
  end

  @doc """
  Get number of followers
  Returns the number of users who have added the LINE Official Account on or before a specified date. 

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `opts` (keyword): Optional parameters
    - `:date` (String.t): Date for which to retrieve the number of followers.  Format: yyyyMMdd (e.g. 20191231) Timezone: UTC+9 

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def get_number_of_followers(client, opts \\ []) do
    date = Keyword.get(opts, :date)

    request_opts = [
      method: :get,
      url: "/v2/bot/insight/followers",
      params: Enum.reject([{"date", date}], fn {_, v} -> is_nil(v) end)
    ]

    Req.request(client, Keyword.merge(request_opts, opts))
  end

  @doc """
  Get number of message deliveries
  Returns the number of messages sent from LINE Official Account on a specified day. 

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `date` (String.t): Date for which to retrieve number of sent messages. - Format: yyyyMMdd (e.g. 20191231) - Timezone: UTC+9 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def get_number_of_message_deliveries(client, date, opts \\ []) do
    request_opts = [
      method: :get,
      url: "/v2/bot/insight/message/delivery",
      params: Enum.reject([{"date", date}], fn {_, v} -> is_nil(v) end)
    ]

    Req.request(client, Keyword.merge(request_opts, opts))
  end

  @doc """
  You can check the per-unit statistics of how users interact with push messages and multicast messages sent from your LINE Official Account. 

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `custom_aggregation_unit` (String.t): Name of aggregation unit specified when sending the message. Case-sensitive. For example, `Promotion_a` and `Promotion_A` are regarded as different unit names. 
  - `from` (String.t): Start date of aggregation period.  Format: yyyyMMdd (e.g. 20210301) Time zone: UTC+9 
  - `to` (String.t): End date of aggregation period. The end date can be specified for up to 30 days later. For example, if the start date is 20210301, the latest end date is 20210331.  Format: yyyyMMdd (e.g. 20210301) Time zone: UTC+9 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def get_statistics_per_unit(client, custom_aggregation_unit, from, to, opts \\ []) do
    request_opts = [
      method: :get,
      url: "/v2/bot/insight/message/event/aggregation",
      params:
        Enum.reject(
          [{"customAggregationUnit", custom_aggregation_unit}, {"from", from}, {"to", to}],
          fn {_, v} -> is_nil(v) end
        )
    ]

    Req.request(client, Keyword.merge(request_opts, opts))
  end
end
