# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule LINEBotSDK.LineModuleAttach do
  @moduledoc """
  API calls for all endpoints tagged `LineModuleAttach`.
  """

  @doc """
  Attach by operation of the module channel provider

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `grant_type` (String.t): authorization_code
  - `code` (String.t): Authorization code received from the LINE Platform.
  - `redirect_uri` (String.t): Specify the redirect_uri specified in the URL for authentication and authorization.
  - `opts` (keyword): Optional parameters
    - `:code_verifier` (String.t): Specify when using PKCE (Proof Key for Code Exchange) defined in the OAuth 2.0 extension specification as a countermeasure against authorization code interception attacks.
    - `:client_id` (String.t): Instead of using Authorization header, you can use this parameter to specify the channel ID of the module channel. You can find the channel ID of the module channel in the LINE Developers Console. 
    - `:client_secret` (String.t): Instead of using Authorization header, you can use this parameter to specify the channel secret of the module channel. You can find the channel secret of the module channel in the LINE Developers Console. 
    - `:region` (String.t): If you specified a value for region in the URL for authentication and authorization, specify the same value. 
    - `:basic_search_id` (String.t): If you specified a value for basic_search_id in the URL for authentication and authorization, specify the same value.
    - `:scope` (String.t): If you specified a value for scope in the URL for authentication and authorization, specify the same value.
    - `:brand_type` (String.t): If you specified a value for brand_type in the URL for authentication and authorization, specify the same value.

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def attach_module(client, grant_type, code, redirect_uri, opts \\ []) do
    request_opts = [
      method: :post,
      url: "/module/auth/v1/token"
    ]

    Req.request(client, Keyword.merge(request_opts, opts))
  end
end
