# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 Thanabodee Charoenpiriyakij

# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule LINE.Bot.LineModuleAttach do
  @moduledoc """
  API calls for all endpoints tagged `LineModuleAttach`.
  """

  alias LINE.Bot.Deserializer

  @version Mix.Project.config()[:version]

  @doc """
  Create a new `LineModuleAttach` client.

  ### Options

  - `:base_url` - base URL for requests (default: `"https://manager.line.biz"`)
  - `:channel_token` (required) - channel access token for Bearer authorization
  - `:plug` - plug to use for testing (see `Req.new/1`)
  """
  def new(options \\ []) do
    base_url = Keyword.get(options, :base_url, "https://manager.line.biz")
    channel_token = Keyword.fetch!(options, :channel_token)

    opts =
      [
        base_url: base_url,
        auth: {:bearer, channel_token},
        headers: [{"user-agent", "LINE-BotSDK-Elixir/#{@version}"}]
      ]

    opts =
      if plug = Keyword.get(options, :plug) do
        Keyword.put(opts, :plug, plug)
      else
        opts
      end

    Req.new(opts)
  end

  @doc """
  Attach by operation of the module channel provider

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `grant_type` (`t:String.t/0`): authorization_code
  - `code` (`t:String.t/0`): Authorization code received from the LINE Platform.
  - `redirect_uri` (`t:String.t/0`): Specify the redirect_uri specified in the URL for authentication and authorization.
  - `optional_args` (keyword): Optional parameters
    - `:code_verifier` (`t:String.t/0`): Specify when using PKCE (Proof Key for Code Exchange) defined in the OAuth 2.0 extension specification as a countermeasure against authorization code interception attacks.
    - `:client_id` (`t:String.t/0`): Instead of using Authorization header, you can use this parameter to specify the channel ID of the module channel. You can find the channel ID of the module channel in the LINE Developers Console. 
    - `:client_secret` (`t:String.t/0`): Instead of using Authorization header, you can use this parameter to specify the channel secret of the module channel. You can find the channel secret of the module channel in the LINE Developers Console. 
    - `:region` (`t:String.t/0`): If you specified a value for region in the URL for authentication and authorization, specify the same value. 
    - `:basic_search_id` (`t:String.t/0`): If you specified a value for basic_search_id in the URL for authentication and authorization, specify the same value.
    - `:scope` (`t:String.t/0`): If you specified a value for scope in the URL for authentication and authorization, specify the same value.
    - `:brand_type` (`t:String.t/0`): If you specified a value for brand_type in the URL for authentication and authorization, specify the same value.
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, LINE.Bot.Model.AttachModuleResponse.t}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def attach_module(
        client,
        grant_type,
        code,
        redirect_uri,
        optional_args \\ [],
        client_opts \\ []
      ) do
    code_verifier = Keyword.get(optional_args, :code_verifier)
    client_id = Keyword.get(optional_args, :client_id)
    client_secret = Keyword.get(optional_args, :client_secret)
    region = Keyword.get(optional_args, :region)
    basic_search_id = Keyword.get(optional_args, :basic_search_id)
    scope = Keyword.get(optional_args, :scope)
    brand_type = Keyword.get(optional_args, :brand_type)

    request_opts = [
      method: :post,
      url: "/module/auth/v1/token",
      form:
        Enum.reject(
          [
            {"grant_type", grant_type},
            {"code", code},
            {"redirect_uri", redirect_uri},
            {"code_verifier", code_verifier},
            {"client_id", client_id},
            {"client_secret", client_secret},
            {"region", region},
            {"basic_search_id", basic_search_id},
            {"scope", scope},
            {"brand_type", brand_type}
          ],
          fn {_, v} -> is_nil(v) end
        )
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, LINE.Bot.ModuleAttach.Model.AttachModuleResponse}
    ])
  end
end
