{{>licenseInfo}}
defmodule {{moduleName}}.{{classname}} do
  @moduledoc """
  API calls for all endpoints tagged `{{baseName}}`.
  """
{{#operations}}
{{#operation}}

  @doc """
  {{#summary}}
  {{&summary}}
  {{/summary}}
  {{#notes}}
  {{&notes}}
  {{/notes}}

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
{{#requiredParams}}
  - `{{#underscored}}{{&paramName}}{{/underscored}}` ({{&dataType}}): {{&description}}
{{/requiredParams}}
  - `opts` (keyword): Optional parameters
{{#optionalParams}}
{{#isBodyParam}}
    - `:body` ({{dataType}}): {{&description}}
{{/isBodyParam}}
{{^isBodyParam}}
    - `{{#atom}}{{&baseName}}{{/atom}}` ({{&dataType}}): {{&description}}
{{/isBodyParam}}
{{/optionalParams}}

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def {{{operationId}}}(client, {{#requiredParams}}{{#underscored}}{{{paramName}}}{{/underscored}}, {{/requiredParams}}opts \\ []) do
{{#optionalParams}}
{{#isBodyParam}}
    body = Keyword.get(opts, :body)
{{/isBodyParam}}
{{^isBodyParam}}
{{#isQueryParam}}
    {{#underscored}}{{baseName}}{{/underscored}} = Keyword.get(opts, {{#atom}}{{baseName}}{{/atom}})
{{/isQueryParam}}
{{#isHeaderParam}}
    {{#underscored}}{{baseName}}{{/underscored}} = Keyword.get(opts, {{#atom}}{{baseName}}{{/atom}})
{{/isHeaderParam}}
{{#isFormParam}}
    {{#underscored}}{{baseName}}{{/underscored}} = Keyword.get(opts, {{#atom}}{{baseName}}{{/atom}})
{{/isFormParam}}
{{/isBodyParam}}
{{/optionalParams}}
    request_opts = [
      method: {{#atom}}{{#underscored}}{{httpMethod}}{{/underscored}}{{/atom}},
      url: "{{vendorExtensions.x-req-path}}"{{#pathParams}}{{#-first}},
      path_params: [{{/-first}}{{#underscored}}{{baseName}}{{/underscored}}: {{#underscored}}{{paramName}}{{/underscored}}{{^-last}}, {{/-last}}{{#-last}}]{{/-last}}{{/pathParams}}{{#bodyParams}}{{#-first}},
      json: {{/-first}}{{/bodyParams}}{{#requiredParams}}{{#isBodyParam}}{{#underscored}}{{{paramName}}}{{/underscored}}{{/isBodyParam}}{{/requiredParams}}{{#optionalParams}}{{#isBodyParam}}body{{/isBodyParam}}{{/optionalParams}}{{#formParams}}{{#-first}},
      form: Enum.reject([{{/-first}}{"{{baseName}}", {{^required}}{{#underscored}}{{baseName}}{{/underscored}}{{/required}}{{#required}}{{#underscored}}{{paramName}}{{/underscored}}{{/required}}}{{^-last}}, {{/-last}}{{#-last}}], fn {_, v} -> is_nil(v) end){{/-last}}{{/formParams}}{{#queryParams}}{{#-first}},
      params: Enum.reject([{{/-first}}{"{{baseName}}", {{^required}}{{#underscored}}{{baseName}}{{/underscored}}{{/required}}{{#required}}{{#underscored}}{{paramName}}{{/underscored}}{{/required}}}{{^-last}}, {{/-last}}{{#-last}}], fn {_, v} -> is_nil(v) end){{/-last}}{{/queryParams}}{{#headerParams}}{{#-first}},
      headers: Enum.reject([{{/-first}}{"{{#lowercase}}{{baseName}}{{/lowercase}}", {{^required}}{{#underscored}}{{baseName}}{{/underscored}}{{/required}}{{#required}}{{#underscored}}{{paramName}}{{/underscored}}{{/required}}}{{^-last}}, {{/-last}}{{#-last}}], fn {_, v} -> is_nil(v) end){{/-last}}{{/headerParams}}
    ]

    Req.request(client, Keyword.merge(request_opts, opts))
  end
{{/operation}}
{{/operations}}
end
