{{>licenseInfo}}
defmodule {{moduleName}}.{{classname}} do
  @moduledoc """
  API calls for all endpoints tagged `{{baseName}}`.
  """

  alias LINE.Bot.Deserializer
{{#operations}}
{{#operation}}

  @doc """
  {{#summary}}
  {{&summary}}
  {{/summary}}
  {{#notes}}
  {{&notes}}
  {{/notes}}

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
{{#requiredParams}}
  - `{{#underscored}}{{&paramName}}{{/underscored}}` (`t:{{&dataType}}/0`): {{&description}}
{{/requiredParams}}
{{#hasOptionalParams}}
  - `optional_args` (keyword): Optional parameters
{{#optionalParams}}
{{#isBodyParam}}
    - `:body` (`t:{{dataType}}/0`): {{&description}}
{{/isBodyParam}}
{{^isBodyParam}}
    - `{{#atom}}{{#underscored}}{{&baseName}}{{/underscored}}{{/atom}}` (`t:{{&dataType}}/0`): {{&description}}
{{/isBodyParam}}
{{/optionalParams}}
{{/hasOptionalParams}}
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, {{#isArray}}[%{{&returnBaseType}}{}, ...]{{/isArray}}{{#isMap}}%{}{{/isMap}}{{^returnType}}nil{{/returnType}}{{#returnSimpleType}}{{#returnType}}{{{.}}}{{/returnType}}{{/returnSimpleType}}}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def {{{operationId}}}(client, {{#requiredParams}}{{#underscored}}{{{paramName}}}{{/underscored}}, {{/requiredParams}}{{#hasOptionalParams}}optional_args \\ [], {{/hasOptionalParams}}client_opts \\ []) do
{{#optionalParams}}
{{#isBodyParam}}
    body = Keyword.get(optional_args, :body)
{{/isBodyParam}}
{{^isBodyParam}}
{{#isQueryParam}}
    {{#underscored}}{{baseName}}{{/underscored}} = Keyword.get(optional_args, {{#atom}}{{#underscored}}{{baseName}}{{/underscored}}{{/atom}})
{{/isQueryParam}}
{{#isHeaderParam}}
    {{#underscored}}{{baseName}}{{/underscored}} = Keyword.get(optional_args, {{#atom}}{{#underscored}}{{baseName}}{{/underscored}}{{/atom}})
{{/isHeaderParam}}
{{#isFormParam}}
    {{#underscored}}{{baseName}}{{/underscored}} = Keyword.get(optional_args, {{#atom}}{{#underscored}}{{baseName}}{{/underscored}}{{/atom}})
{{/isFormParam}}
{{/isBodyParam}}
{{/optionalParams}}
    request_opts = [
      method: {{#atom}}{{#underscored}}{{httpMethod}}{{/underscored}}{{/atom}},
      url: "{{vendorExtensions.x-req-path}}"{{#pathParams}}{{#-first}},
      path_params: [{{/-first}}{{#underscored}}{{baseName}}{{/underscored}}: {{#underscored}}{{paramName}}{{/underscored}}{{^-last}}, {{/-last}}{{#-last}}]{{/-last}}{{/pathParams}}{{#bodyParams}}{{#-first}},
      json: {{/-first}}{{/bodyParams}}{{#requiredParams}}{{#isBodyParam}}{{#underscored}}{{{paramName}}}{{/underscored}}{{/isBodyParam}}{{/requiredParams}}{{#optionalParams}}{{#isBodyParam}}body{{/isBodyParam}}{{/optionalParams}}{{#formParams}}{{#-first}},
      form: Enum.reject([{{/-first}}{"{{baseName}}", {{^required}}{{#underscored}}{{baseName}}{{/underscored}}{{/required}}{{#required}}{{#underscored}}{{paramName}}{{/underscored}}{{/required}}}{{^-last}}, {{/-last}}{{#-last}}], fn {_, v} -> is_nil(v) end){{/-last}}{{/formParams}}{{#queryParams}}{{#-first}},
      params: Enum.reject([{{/-first}}{"{{baseName}}", {{^required}}{{#underscored}}{{baseName}}{{/underscored}}{{/required}}{{#required}}{{#underscored}}{{paramName}}{{/underscored}}{{/required}}}{{^-last}}, {{/-last}}{{#-last}}], fn {_, v} -> is_nil(v) end){{/-last}}{{/queryParams}}{{#headerParams}}{{#-first}},
      headers: Enum.reject([{{/-first}}{"{{vendorExtensions.x-header-name}}", {{^required}}{{#underscored}}{{baseName}}{{/underscored}}{{/required}}{{#required}}{{#underscored}}{{paramName}}{{/underscored}}{{/required}}}{{^-last}}, {{/-last}}{{#-last}}], fn {_, v} -> is_nil(v) end){{/-last}}{{/headerParams}}
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response({{#responses}}{{#-first}}[
{{/-first}}
      {{=<% %>=}}{<%codeMappingKey%>, <%decodedStruct%>}<%={{ }}=%>{{^-last}},{{/-last}}
{{#-last}}    ]{{/-last}}{{/responses}})
  end
{{/operation}}
{{/operations}}
end
