{{>licenseInfo}}
{{#models}}{{#model}}defmodule {{moduleName}}.{{#lambda.pascalcase}}{{packageName}}{{/lambda.pascalcase}}.Model.{{classname}} do
  @moduledoc """
  {{&description}}
  """

  @derive JSON.Encoder
  defstruct [
    {{#vars}}{{#atom}}{{&baseName}}{{/atom}}{{^-last}},
    {{/-last}}{{/vars}}
  ]

  @type t :: %__MODULE__{
    {{#vars}}{{#atom}}{{&baseName}}{{/atom}} => {{{datatype}}}{{#isNullable}} | nil{{/isNullable}}{{^isNullable}}{{^required}} | nil{{/required}}{{/isNullable}}{{^-last}},
    {{/-last}}{{/vars}}
  }

  def decode(value) do
    value
  end
end
{{/model}}{{/models}}
