# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 Thanabodee Charoenpiriyakij

# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule LINE.Bot.Shop do
  @moduledoc """
  API calls for all endpoints tagged `Shop`.
  """

  alias LINE.Bot.Deserializer

  @version Mix.Project.config()[:version]

  @doc """
  Create a new `Shop` client.

  ### Options

  - `:base_url` - base URL for requests (default: `"https://api.line.me"`)
  - `:channel_token` (required) - channel access token for Bearer authorization
  - `:plug` - plug to use for testing (see `Req.new/1`)
  """
  def new(options \\ []) do
    base_url = Keyword.get(options, :base_url, "https://api.line.me")
    channel_token = Keyword.fetch!(options, :channel_token)

    opts =
      [
        base_url: base_url,
        auth: {:bearer, channel_token},
        headers: [{"user-agent", "LINE-BotSDK-Elixir/#{@version}"}]
      ]

    opts =
      if plug = Keyword.get(options, :plug) do
        Keyword.put(opts, :plug, plug)
      else
        opts
      end

    Req.new(opts)
  end

  @doc """
  Sends a mission sticker.

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `mission_sticker_request` (`t:MissionStickerRequest/0`): 
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def mission_sticker_v3(client, mission_sticker_request, client_opts \\ []) do
    request_opts = [
      method: :post,
      url: "/shop/v3/mission",
      json: mission_sticker_request
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, false}
    ])
  end
end
