# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 Thanabodee Charoenpiriyakij

# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule LINEBotSDK.Shop do
  @moduledoc """
  API calls for all endpoints tagged `Shop`.
  """

  alias LINEBotSDK.Deserializer

  @doc """
  Sends a mission sticker.

  ### Parameters

  - `client` (`Req.Request.t`): Client to make request with
  - `mission_sticker_request` (`MissionStickerRequest`): 
  - `client_opts` (keyword): Options to pass to `Req.request`

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Req.Response.t()}` on failure
  """
  def mission_sticker_v3(client, mission_sticker_request, client_opts \\ []) do
    request_opts = [
      method: :post,
      url: "/shop/v3/mission",
      json: mission_sticker_request
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, false}
    ])
  end
end
