# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule LINEBotSDK.ManageAudienceBlob do
  @moduledoc """
  API calls for all endpoints tagged `ManageAudienceBlob`.
  """

  @doc """
  Add user IDs or Identifiers for Advertisers (IFAs) to an audience for uploading user IDs (by file).

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `file` (String.t): A text file with one user ID or IFA entered per line. Specify text/plain as Content-Type. Max file number: 1 Max number: 1,500,000 
  - `opts` (keyword): Optional parameters
    - `:audienceGroupId` (integer()): The audience ID.
    - `:uploadDescription` (String.t): The description to register with the job

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def add_user_ids_to_audience(client, file, opts \\ []) do
    Req.request(client,
      method: :put,
      url: "/v2/bot/audienceGroup/upload/byFile"
    )
  end

  @doc """
  Create audience for uploading user IDs (by file).

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `file` (String.t): A text file with one user ID or IFA entered per line. Specify text/plain as Content-Type. Max file number: 1 Max number: 1,500,000 
  - `opts` (keyword): Optional parameters
    - `:description` (String.t): The audience's name. This is case-insensitive, meaning AUDIENCE and audience are considered identical. Max character limit: 120 
    - `:isIfaAudience` (boolean()): To specify recipients by IFAs: set `true`. To specify recipients by user IDs: set `false` or omit isIfaAudience property. 
    - `:uploadDescription` (String.t): The description to register for the job (in `jobs[].description`). 

  ### Returns

  - `{:ok, Req.Response.t()}` on success
  - `{:error, Exception.t()}` on failure
  """
  def create_audience_for_uploading_user_ids(client, file, opts \\ []) do
    Req.request(client,
      method: :post,
      url: "/v2/bot/audienceGroup/upload/byFile"
    )
  end
end
