# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 Thanabodee Charoenpiriyakij

# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule LINE.Bot.ManageAudienceBlob do
  @moduledoc """
  API calls for all endpoints tagged `ManageAudienceBlob`.
  """

  alias LINE.Bot.Deserializer

  @doc """
  Add user IDs or Identifiers for Advertisers (IFAs) to an audience for uploading user IDs (by file).

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `file` (`t:String.t/0`): A text file with one user ID or IFA entered per line. Specify text/plain as Content-Type. Max file number: 1 Max number: 1,500,000 
  - `optional_args` (keyword): Optional parameters
    - `:audience_group_id` (`t:integer()/0`): The audience ID.
    - `:upload_description` (`t:String.t/0`): The description to register with the job
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def add_user_ids_to_audience(client, file, optional_args \\ [], client_opts \\ []) do
    audience_group_id = Keyword.get(optional_args, :audience_group_id)
    upload_description = Keyword.get(optional_args, :upload_description)

    request_opts = [
      method: :put,
      url: "/v2/bot/audienceGroup/upload/byFile",
      form:
        Enum.reject(
          [
            {"audienceGroupId", audience_group_id},
            {"uploadDescription", upload_description},
            {"file", file}
          ],
          fn {_, v} -> is_nil(v) end
        )
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {202, false}
    ])
  end

  @doc """
  Create audience for uploading user IDs (by file).

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `file` (`t:String.t/0`): A text file with one user ID or IFA entered per line. Specify text/plain as Content-Type. Max file number: 1 Max number: 1,500,000 
  - `optional_args` (keyword): Optional parameters
    - `:description` (`t:String.t/0`): The audience's name. This is case-insensitive, meaning AUDIENCE and audience are considered identical. Max character limit: 120 
    - `:is_ifa_audience` (`t:boolean()/0`): To specify recipients by IFAs: set `true`. To specify recipients by user IDs: set `false` or omit isIfaAudience property. 
    - `:upload_description` (`t:String.t/0`): The description to register for the job (in `jobs[].description`). 
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, LINE.Bot.Model.CreateAudienceGroupResponse.t}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def create_audience_for_uploading_user_ids(client, file, optional_args \\ [], client_opts \\ []) do
    description = Keyword.get(optional_args, :description)
    is_ifa_audience = Keyword.get(optional_args, :is_ifa_audience)
    upload_description = Keyword.get(optional_args, :upload_description)

    request_opts = [
      method: :post,
      url: "/v2/bot/audienceGroup/upload/byFile",
      form:
        Enum.reject(
          [
            {"description", description},
            {"isIfaAudience", is_ifa_audience},
            {"uploadDescription", upload_description},
            {"file", file}
          ],
          fn {_, v} -> is_nil(v) end
        )
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {202, LINE.Bot.ManageAudience.Model.CreateAudienceGroupResponse}
    ])
  end
end
