# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule LINEBotSDK.LineModule do
  @moduledoc """
  API calls for all endpoints tagged `LineModule`.
  """

  alias LINEBotSDK.Deserializer

  @doc """
  If the Standby Channel wants to take the initiative (Chat Control), it calls the Acquire Control API. The channel that was previously an Active Channel will automatically switch to a Standby Channel. 

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `chat_id` (String.t): The `userId`, `roomId`, or `groupId`
  - `opts` (keyword): Optional parameters
    - `:body` (AcquireChatControlRequest): 

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Req.Response.t()}` on failure
  """
  def acquire_chat_control(client, chat_id, opts \\ []) do
    body = Keyword.get(opts, :body)

    request_opts = [
      method: :post,
      url: "/v2/bot/chat/:chat_id/control/acquire",
      path_params: [chat_id: chat_id],
      json: body
    ]

    client
    |> Req.request(Keyword.merge(request_opts, opts))
    |> Deserializer.evaluate_response([
      {200, false}
    ])
  end

  @doc """
  The module channel admin calls the Detach API to detach the module channel from a LINE Official Account.

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `opts` (keyword): Optional parameters
    - `:body` (DetachModuleRequest): 

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Req.Response.t()}` on failure
  """
  def detach_module(client, opts \\ []) do
    body = Keyword.get(opts, :body)

    request_opts = [
      method: :post,
      url: "/v2/bot/channel/detach",
      json: body
    ]

    client
    |> Req.request(Keyword.merge(request_opts, opts))
    |> Deserializer.evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Gets a list of basic information about the bots of multiple LINE Official Accounts that have attached module channels.

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `opts` (keyword): Optional parameters
    - `:start` (String.t): Value of the continuation token found in the next property of the JSON object returned in the response. If you can't get all basic information about the bots in one request, include this parameter to get the remaining array. 
    - `:limit` (integer()): Specify the maximum number of bots that you get basic information from. The default value is 100. Max value: 100 

  ### Returns

  - `{:ok, LINEBotSDK.Model.GetModulesResponse.t}` on success
  - `{:error, Req.Response.t()}` on failure
  """
  def get_modules(client, opts \\ []) do
    start = Keyword.get(opts, :start)
    limit = Keyword.get(opts, :limit)

    request_opts = [
      method: :get,
      url: "/v2/bot/list",
      params: Enum.reject([{"start", start}, {"limit", limit}], fn {_, v} -> is_nil(v) end)
    ]

    client
    |> Req.request(Keyword.merge(request_opts, opts))
    |> Deserializer.evaluate_response([
      {200, LINEBotSDK.Module.Model.GetModulesResponse}
    ])
  end

  @doc """
  To return the initiative (Chat Control) of Active Channel to Primary Channel, call the Release Control API. 

  ### Parameters

  - `client` (Req.Request.t()): Client to make request with
  - `chat_id` (String.t): The `userId`, `roomId`, or `groupId`
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Req.Response.t()}` on failure
  """
  def release_chat_control(client, chat_id, opts \\ []) do
    request_opts = [
      method: :post,
      url: "/v2/bot/chat/:chat_id/control/release",
      path_params: [chat_id: chat_id]
    ]

    client
    |> Req.request(Keyword.merge(request_opts, opts))
    |> Deserializer.evaluate_response([
      {200, false}
    ])
  end
end
