# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 Thanabodee Charoenpiriyakij

# NOTE: This file is auto generated by OpenAPI Generator unset (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule LINE.Bot.LineModule do
  @moduledoc """
  API calls for all endpoints tagged `LineModule`.
  """

  alias LINE.Bot.Deserializer

  @doc """
  If the Standby Channel wants to take the initiative (Chat Control), it calls the Acquire Control API. The channel that was previously an Active Channel will automatically switch to a Standby Channel. 

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `chat_id` (`t:String.t/0`): The `userId`, `roomId`, or `groupId`
  - `optional_args` (keyword): Optional parameters
    - `:body` (`t:AcquireChatControlRequest/0`): 
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def acquire_chat_control(client, chat_id, optional_args \\ [], client_opts \\ []) do
    body = Keyword.get(optional_args, :body)

    request_opts = [
      method: :post,
      url: "/v2/bot/chat/:chat_id/control/acquire",
      path_params: [chat_id: chat_id],
      json: body
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, false}
    ])
  end

  @doc """
  The module channel admin calls the Detach API to detach the module channel from a LINE Official Account.

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `optional_args` (keyword): Optional parameters
    - `:body` (`t:DetachModuleRequest/0`): 
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def detach_module(client, optional_args \\ [], client_opts \\ []) do
    body = Keyword.get(optional_args, :body)

    request_opts = [
      method: :post,
      url: "/v2/bot/channel/detach",
      json: body
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Gets a list of basic information about the bots of multiple LINE Official Accounts that have attached module channels.

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `optional_args` (keyword): Optional parameters
    - `:start` (`t:String.t/0`): Value of the continuation token found in the next property of the JSON object returned in the response. If you can't get all basic information about the bots in one request, include this parameter to get the remaining array. 
    - `:limit` (`t:integer()/0`): Specify the maximum number of bots that you get basic information from. The default value is 100. Max value: 100 
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, LINE.Bot.Model.GetModulesResponse.t}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def get_modules(client, optional_args \\ [], client_opts \\ []) do
    start = Keyword.get(optional_args, :start)
    limit = Keyword.get(optional_args, :limit)

    request_opts = [
      method: :get,
      url: "/v2/bot/list",
      params: Enum.reject([{"start", start}, {"limit", limit}], fn {_, v} -> is_nil(v) end)
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, LINE.Bot.Module.Model.GetModulesResponse}
    ])
  end

  @doc """
  To return the initiative (Chat Control) of Active Channel to Primary Channel, call the Release Control API. 

  ### Parameters

  - `client` (`t:Req.Request.t/0`): Client to make request with
  - `chat_id` (`t:String.t/0`): The `userId`, `roomId`, or `groupId`
  - `client_opts` (`t:keyword/0`): Options to pass to `Req.request`

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Req.Response.t}` on failure
  """
  def release_chat_control(client, chat_id, client_opts \\ []) do
    request_opts = [
      method: :post,
      url: "/v2/bot/chat/:chat_id/control/release",
      path_params: [chat_id: chat_id]
    ]

    client
    |> Req.request(Keyword.merge(request_opts, client_opts))
    |> Deserializer.evaluate_response([
      {200, false}
    ])
  end
end
